<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>分享收益</title>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <link rel="stylesheet" href="./style/cssreset.css">
    <link rel="stylesheet" href="./style/shareprofit.css">
    <link rel="stylesheet" href="./style/public.css">
</head>

<body>
    <header class="public">
        <a href="javascript:;">
            <img src="./image/arrow.gif" alt="">
        </a>
        <h1>分享收益</h1>
    </header>
    <div class="list-title">
        <a href="javascript:;">
            分享好友
        </a>
        <a href="javascript:;">
            分享收益
        </a>
        <a href="javascript:;">
            分享列表
        </a>
    </div>
    <div class="price">
        <div class="circle">
            <div>
                <p>今日分享收益（元）</p>
                <p>+50.69</p>
            </div>
            <div>
                <p>分享总收益（元）</p>
                <p>5003.27</p>
            </div>
        </div>
    </div>
    <!-- 锁仓列表开始 -->
    <div class="list-content">
        <h2>分享明细</h2>
        <ul class="top-title">
            <li>好友</li>
            <li>数量</li>
            <li>锁仓时间</li>
            <li>收益</li>
        </ul>
        <ul class="list-item">
            <li>LTC18001324234234</li>
            <li>450</li>
            <li>180天</li>
            <li>0.02</li>
        </ul>
        <ul class="list-item">
            <li>LTC18001324234234</li>
            <li>2018-06-09</li>
            <li>180天</li>
            <li><a href="javascript:;">0.04</a></li>
        </ul>
        <ul class="list-item">
            <li>LTC18001324234234</li>
            <li>2018-06-09</li>
            <li>180天</li>
            <li><a href="javascript:;">0.05</a></li>
        </ul>
    </div>
    <!-- 锁仓列表结束 -->
    <div class="bottom-content"></div>
    <!-- 底部开始 -->
    <footer>
        <div>
            <a href="javascript:;">
                <i class="ficon1"></i>
                <p>首页</p>
            </a>
            <a href="javascript:;">
                <i class="ficon2"></i>
                <p>锁仓</p>
            </a>
            <a href="javascript:;">
                <i class="ficon3"></i>
                <p>分享</p>
            </a>
            <a href="javascript:;">
                <i class="ficon4"></i>
                <p>我的</p>
            </a>
        </div>
    </footer>
    <!-- 底部结束 -->
</body>
<script>
    window.addEventListener('touchmove', function(evt) {
        evt.preventDefault();
    });
</script>

</html>