<!--header--引入-->
{include file="default/header" /}
<!--header--END-->

    <link rel="stylesheet" href="/static/index/style/sharefriend.css">

    <header class="public">
        <a href="javascript:history.back(-1);">
            <img src="/static/index/images/arrow.gif" alt="">
        </a>
        <h1>分享列表</h1>
    </header>

    <!--share_header--引入-->
    {include file="default/share_header" /}
    <!--share_header--END-->

    <!-- 锁仓列表开始 -->
    <div class="list-content">
        <ul class="top-title">
            <li>好友</li>
            <li>注册日期</li>
            <li>直推数</li>
            <li>活跃数</li>
            <li>团队数</li>
        </ul>
        {foreach name="List" item="l"}
            <ul class="list-item">
                <li>
                    <p>{$l.number}</p>
                </li>
                <li>{$l.create_time.0}</li>
                <li>{$l.first}</li>
                <li>{$l.active}</li>
                <li>{$l.total}</li>
            </ul>
        {/foreach}

    </div>
    <!-- 锁仓列表结束 -->
    <div class="bottom-content"></div>


<!-- 底部开始 -->
<!--footer--引入-->
{include file="default/footer" /}
<!--footer--END-->