
<!--header--引入-->
{include file="default/header" /}
<!--header--END-->

    <link rel="stylesheet" href="/static/index/style/shareprofit.css">

    <header class="public">
        <a href="javascript:history.back(-1);">
            <img src="/static/index/images/arrow.gif" alt="">
        </a>
        <h1>分享收益</h1>
    </header>

    <!--share_header--引入-->
    {include file="default/share_header" /}
    <!--share_header--END-->

    <div class="price">
        <div class="circle">
            <div>
                <p>今日分享收益（元）</p>
                <p>+{$Profit.today}</p>
            </div>
            <div>
                <p>分享总收益（元）</p>
                <p>+{$Profit.total}</p>
            </div>
        </div>
    </div>
    <!-- 锁仓列表开始 -->
    <div class="list-content">
        <h2>分享明细</h2>
        <ul class="top-title">
            <li>好友</li>
            <li>数量</li>
            <li>锁仓时间</li>
            <li>收益</li>
        </ul>
        <ul class="list-item">
            <li>LTC18001324234234</li>
            <li>450</li>
            <li>180天</li>
            <li>0.02</li>
        </ul>
        <ul class="list-item">
            <li>LTC18001324234234</li>
            <li>2018-06-09</li>
            <li>180天</li>
            <li><a href="javascript:;">0.04</a></li>
        </ul>
        <ul class="list-item">
            <li>LTC18001324234234</li>
            <li>2018-06-09</li>
            <li>180天</li>
            <li><a href="javascript:;">0.05</a></li>
        </ul>
    </div>
    <!-- 锁仓列表结束 -->
    <div class="bottom-content"></div>


<!-- 底部开始 -->
<!--footer--引入-->
{include file="default/footer" /}
<!--footer--END-->