
    <!--header--引入-->
    {include file="default/header" /}
    <!--header--END-->

    <link rel="stylesheet" href="/static/index/style/share.css">

    <header class="public">
        <a href="javascript:history.back(-1);">
            <img src="/static/index/images/arrow.gif" alt="">
        </a>
        <h1>分享列表</h1>
    </header>

    <!--share_header--引入-->
    {include file="default/share_header" /}
    <!--share_header--END-->

    <!-- 锁仓列表开始 -->
    <div class="top-yao">
        <div class="yao">
            <p>
                我的分享码
            </p>
            <p>
                {$User.share_id}
            </p>
        </div>
    </div>
    <div class="qr-content">
        <div class="qr-box">
            <img src="/index/share/shareImg?url=https://ltc.zhejinquan.com/index/login/register?$invitation={$User.share_id}" alt="">
            <p>
                邀请好友扫码注册
            </p>
        </div>
    </div>
    <div class="ios">
        <a href="/index/share/downApp?type=5">
            下载安卓版
        </a>
    </div>
    <div class="ios">
        <a href="/index/share/downApp?type=6">
                下载IOS版
            </a>
    </div>
    <div class="info">
        <p>
            邀请返利规则说明
        </p>
        <ul>
            <li>
                1.活动期间根据推荐会员锁仓情况获取锁仓会员利息，一代15%，二代10%，三代5%，四代至十代全部为2%。
            </li>
            <li>
                2.你分享的会员进行锁仓，佣金就会每天返到你的账户。
            </li>
        </ul>
    </div>
    <!-- 锁仓列表结束 -->
    <div class="bottom-content"></div>


    <!-- 底部开始 -->
    <!--footer--引入-->
    {include file="default/footer" /}
    <!--footer--END-->