<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>分享列表</title>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <link rel="stylesheet" href="/static/index/css/cssreset.css">
    <link rel="stylesheet" href="/static/index/css/sharefriend.css">
</head>
<body>
    <header>
        <a href="javascript:;">
            <img src="/static/index/images/arrow.gif" alt="">
        </a>
        <h1>分享列表</h1>
    </header>
    <div class="list-title">
        <a href="javascript:;">
            分享好友
        </a>
        <a href="javascript:;">
            分享收益
        </a>
        <a href="javascript:;">
            分享列表
        </a>
    </div>
    <!-- 锁仓列表开始 -->
    <div class="list-content">
        <ul class="top-title">
            <li>好友</li>
            <li>注册日期</li>
            <li>直推数</li>
            <li>活跃数</li>
            <li>团队数</li>
        </ul>
        <ul class="list-item">
                <li>
                    <p>LTC18001324234234</p>
                </li>
                <li>2018-05-06</li>
                <li>65</li>
                <li>100</li>
                <li>254</li>
        </ul>
        <ul class="list-item">
                <li>
                    <p>LTC18001324234234</p>
                </li>
                <li>2018-05-06</li>
                <li>65</li>
                <li>100</li>
                <li>254</li>
        </ul>
        <ul class="list-item">
                <li>
                    <p>LTC18001324234234</p>
                </li>
                <li>2018-05-06</li>
                <li>65</li>
                <li>100</li>
                <li>254</li>
        </ul>
    </div>
    <!-- 锁仓列表结束 -->


    <!--footer--引入-->
    {include file="default/footer" /}
    <!--footer--END-->