<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>提币申请</title>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <link rel="stylesheet" href="../style/cssreset.css">
    <link rel="stylesheet" href="../style/apply.css">
    <link rel="stylesheet" href="../style/public.css">
</head>

<body>
    <header class="public">
        <a href="javascript:;">
            <img src="../image/arrow.gif" alt="">
        </a>
        <h1>提币申请</h1>
    </header>
    <div class="list-title">
        <a href="javascript:;">
            提币申请
        </a>
        <a href="javascript:;">
            充币地址
        </a>
        <a href="javascript:;">
            提币明细
        </a>
        <a href="javascript:;">
            充币明细
        </a>
    </div>
    <div class="userinfo">
        <div class="user-item">
            <img src="../image/head.gif" alt="">
            <div class="user-text">
                <p>LTC180012345</p>
                <P>1324567897</P>
            </div>
        </div>
        <div class="price-content">
            <div class="price-item">
                <p>
                    可用资产(元)
                </p>
                <p class="default">
                    384.55
                </p>
            </div>
            <div class="price-item">
                <p>
                    锁仓资产(元)
                </p>
                <p>
                    3843.55
                </p>
            </div>
        </div>
        <div class="form-box">
            <div class="input-item">
                <p>
                    提币平台
                </p>
                <!-- <input type="text" id="txt_ide" list="ide" placeholder="选着提币平台" />
                <datalist id="ide"> 
                        <option value="比特网(www.getaio.io)" /> 
                        <option value="币安网(www.bian.com)" /> 
                        <option value="火币网(www.huobi.com)" /> 
                        <option value="比特币中国(www.btcchina.com)" /> 
                        <option value="BTC123(www.btc123.com)" /> 
                    </datalist> -->
                <div class="selcet-box">
                    <img src="../image/bottom.png" alt="">
                    <select class="">
                                    <option style="color:#cccccc;" value ="volvo" disabled selected>选择提币平台</option>
                                    <option value ="1">比特网(www.getaio.io)</option>
                                    <option value="2">币安网(www.bian.com)</option>
                                    <option value="3">火币网(www.huobi.com)</option>
                                    <option value="4">比特币中国(www.btcchina.com)</option>
                                    <option value="5">BTC123(www.btc123.com)</option>
                                  </select>
                </div>
            </div>
            <div class="input-item">
                <p>
                    提币数量
                </p>
                <input type="text" placeholder="数量为不大于可用资产的整数">
            </div>
            <div class="input-text">
                手续费： <span class="default">￥12.00 </span> (实际到账金额：<span class="default">￥234.00</span>)
            </div>
            <div class="input-box">
                <p>
                    提币地址
                </p>
                <textarea name="" id="" placeholder="你在提币平台的地址"></textarea>
            </div>
            <div class="input-item">
                <p>
                    Payment ID
                </p>
                <input type="text" placeholder="你在提币平台的PaymentID(没有可不填)">
            </div>
            <div class="input-item">
                <p>
                    验证码
                </p>
                <input type="text" placeholder="请输入验证码">
                <a href="javascript:;" class="get-qr">
                    获取验证码
                </a>
            </div>
            <div class="input-item">
                <p>
                    交易密码
                </p>
                <input type="password" placeholder="请输入交易密码">
            </div>
            <div class="sub">
                <button class="btn" form="userinfo" type="submit">确认提币</button>
            </div>
            <div class="info">
                <ul>
                    <li>
                        注意事项
                    </li>
                    <li>
                        1.请确保提币地址与对应的平台一致
                    </li>
                    <li>
                        2.提笔审核通过后不能退回
                    </li>
                    <li>
                        3.提笔审核通过后4小时内到对应地址
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bottom-content">

    </div>
    <!-- 底部开始 -->
    <footer>
        <div>
            <a href="javascript:;">
                <i class="ficon1"></i>
                <p>首页</p>
            </a>
            <a href="javascript:;">
                <i class="ficon2"></i>
                <p>锁仓</p>
            </a>
            <a href="javascript:;">
                <i class="ficon3"></i>
                <p>分享</p>
            </a>
            <a href="javascript:;">
                <i class="ficon4"></i>
                <p>我的</p>
            </a>
        </div>
    </footer>
    <!-- 底部结束 -->
</body>
<script>
    window.addEventListener('touchmove', function(evt) {
        evt.preventDefault();
    });
</script>

</html>