<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>充币明细</title>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <link rel="stylesheet" href="../style/cssreset.css">
    <link rel="stylesheet" href="../style/pull.css">
    <link rel="stylesheet" href="../style/public.css">
</head>

<body>
    <header class="public">
        <a href="javascript:;">
            <img src="../image/arrow.gif" alt="">
        </a>
        <h1>充币明细</h1>
    </header>
    <div class="list-title">
        <a href="javascript:;">
            提币申请
        </a>
        <a href="javascript:;">
            充币地址
        </a>
        <a href="javascript:;">
            提币明细
        </a>
        <a href="javascript:;">
            充币明细
        </a>
    </div>
    <!-- 锁仓列表开始 -->
    <div class="list-content">
        <div class="btn-box">
            <button class="btn-pull">提交充币记录</button>
        </div>
        <ul class="top-title">
            <li>金额</li>
            <li>交易ID</li>
            <li>状态</li>
            <li>操作</li>
        </ul>
        <ul class="list-item">
            <li>
                50
            </li>
            <li>SFF53OO23434</li>
            <li>审核中</li>
            <li>
                <a href="javascript:;">
                        查看
                    </a>
            </li>
        </ul>
        <ul class="list-item">
            <li>
                50
            </li>
            <li>SFF53OO23434SDSF</li>
            <li>审核中</li>
            <li>
                <a href="javascript:;">
                        查看
                    </a>
            </li>
        </ul>
        <ul class="list-item">
            <li>
                50
            </li>
            <li>SFF53OO23434</li>
            <li>审核中</li>
            <li>
                <a href="javascript:;">
                        查看
                    </a>
            </li>
        </ul>
    </div>
    <!-- 锁仓列表结束 -->
    <!-- 底部开始 -->
    <footer>
        <div>
            <a href="javascript:;">
                <i class="ficon1"></i>
                <p>首页</p>
            </a>
            <a href="javascript:;">
                <i class="ficon2"></i>
                <p>锁仓</p>
            </a>
            <a href="javascript:;">
                <i class="ficon3"></i>
                <p>分享</p>
            </a>
            <a href="javascript:;">
                <i class="ficon4"></i>
                <p>我的</p>
            </a>
        </div>
    </footer>
    <!-- 底部结束 -->
</body>
<script>
    window.addEventListener('touchmove', function(evt) {
        evt.preventDefault();
    });
</script>

</html>