
    <!--header--引入-->
    {include file="default/header" /}
    <!--header--END-->

    <link rel="stylesheet" href="/static/index/lib/swiper-4.3.3.min.css">
    <link rel="stylesheet" href="/static/index/style/index.css">

    <script src="/static/index/js/jquery.cookie.js"></script>

    <header class="hesd">
        <div class="top-header">
            <div class="clearfix">
                <img class="head" src="{$User.portrait}" alt="">
                <div class="detail">
                    <p>
                        会员编号：{$User.number}
                    </p>
                    <P>
                        分享编码：{$User.share_id}
                    </P>
                </div>
            </div>
            {if condition="$User.sign_state && (time()-$User.create_time[1])/86400<30"}
                <a href="javascript:;" class="sign" id="sign">
                    <i class="sign-image"></i>
                    <span>签到</span>
                </a>
            {/if}
        </div>
        <div class="top-list">
            <ul>
                <li>
                    <p>可用资产</p>
                    <p>￥{$User.asset_avali}</p>
                </li>
                <li>
                    <p>LTC价格</p>
                    <p>￥{$Price.price}</p>
                </li>
                <li>
                    <p>固定资产</p>
                    <p>￥{$User.asset_fixed}</p>
                </li>
            </ul>
        </div>
    </header>
    <div class="title-list">
        <a href="/index/trade/tradeBuy" class="noline">
            <i class="ticon1"></i>
            <p>购买</p>
        </a>
        <a href="/index/trade/buyList" class="line">
            <i class="ticon2"></i>
            <p>汇款明细</p>
        </a>
        <a href="/index/trade/tradeSell" class="line">
            <i class="ticon3"></i>
            <p>出售</p>
        </a>
        <a href="/index/trade/sellList" class="line">
            <i class="ticon4"></i>
            <p>收款明细</p>
        </a>
        <a href="/index/lock/lock" class="noline">
            <i class="ticon5"></i>
            <p>锁仓计划</p>
        </a>
        <a href="/index/lock/lockList" class="line">
            <i class="ticon6"></i>
            <p>固定明细</p>
        </a>
        <a href="./shareprofit.html" class="line">
            <i class="ticon7"></i>
            <p>分享明细</p>
        </a>
        <a href="/index/trade/newestDeal" class="line">
            <i class="ticon8"></i>
            <p>最新成交</p>
        </a>
    </div>
    <div class="new">
        <h2>
            <i class="hicon1"></i>
            <span>最新公告</span>
        </h2>
        <div class="list-new">
            {foreach name="News" item="N"}
            <a href="/index/news/newsDetail?id={$N.id}">
                <p>
                    {$N.title}
                </p>
                <p>
                    {$N.create_time}
                </p>
            </a>
            {/foreach}
        </div>
    </div>
    <div class="member">
        <h2>
            <i class="hicon2"></i>
            <span>新会员注册排名</span>
        </h2>
        <div class="swiper-container huiyuan">
            <div class="swiper-wrapper">
                <div class="swiper-slide list-new">
                    <a href="javascript:;">
                        <p class="pcolor1">
                            1
                        </p>
                        <p>
                            新注册会员【LTC54556546】成功锁币2000
                        </p>
                    </a>
                </div>
                <div class="swiper-slide list-new">
                    <a href="javascript:;">
                        <p class="pcolor1">
                            2
                        </p>
                        <p>
                            新注册会员【LTC54556546】成功锁币2000
                        </p>
                    </a>
                </div>
                <div class="swiper-slide list-new">
                    <a href="javascript:;">
                        <p class="pcolor1">
                            3
                        </p>
                        <p>
                            新注册会员【LTC54556546】成功锁币2000
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <!-- <div class="list-new">
            <a href="javascript:;">
                <p class="pcolor1">
                    1
                </p>
                <p>
                    新注册会员【LTC54556546】成功锁币2000
                </p>
            </a>
            <a href="javascript:;">
                <p class="pcolor2">
                    2
                </p>
                <p>
                    新注册会员【LTC54556546】成功锁币2000
                </p>
            </a>
            <a href="javascript:;">
                <p class="pcolor3">
                    3
                </p>
                <p>
                    新注册会员【LTC54556546】成功锁币2000
                </p>
            </a>
        </div> -->
    </div>
    <div class="bottom-content">

    </div>

    <script src="/static/index/lib/swiper-4.3.3.min.js"></script>
    <script>
        var mySwiper = new Swiper('.huiyuan', {
            direction: 'vertical',
            slidesPerView: "auto",
            loop: true,
            autoplay: true,
        });
    </script>

    <!--签到-->
    <script>
        $("#sign").on('click',function(){
            console.log($.cookie('user'));
            $.ajax({
                url:"/index/index/signCheck",
                type:"POST",
                contentType: 'application/json;charset=utf-8',
                dataType: "json",
                data:'{"sign": '+true+', "id": '+$.cookie('user')+'}',
                success:function(data){
                    jsonAlertAutoClose(data);
                    if(data.code==1){
                        setTimeout(function () { window.location.reload() }, 3000);
                    }
                },
                error:function () {
                    showAlertAutoClose("网络错误，请重试...");
                }
            });

        });

    </script>




    <!--footer--引入-->
    {include file="default/footer" /}
    <!--footer--END-->