<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <link rel="stylesheet" href="/static/index/css/index.css">
    <link rel="stylesheet" href="/static/index/css/cssreset.css">
</head>
<body>
    <header>
        <div class="top-header">
                <div class="clearfix">
                        <img class="head" src="/static/index/images/head.gif" alt="">
                        <div class="detail">
                            <p>
                                会员编号：LTC55521457
                            </p>
                            <P>
                                分享编码：SC5E52
                            </P>
                        </div>
                    </div>
                    <a href="javascript:;" class="sign">
                        <i></i>
                        <span>签到</span>
                    </a>
        </div>
        <div class="top-list">
            <ul>
                <li>
                    <p>可用资产</p>
                    <p>￥2500</p>
                </li>
                <li>
                        <p>LTC价格</p>
                        <p>￥2500</p>
                    </li>
                    <li>
                            <p>固定资产</p>
                            <p>￥2500</p>
                        </li>
            </ul>
        </div>
    </header>
    <div class="title-list">
        <a href="javascript:;">
            <i class="ticon1"></i>
            <p>购买</p>
        </a>
        <a href="javascript:;" class="line">
                <i class="ticon2"></i>
                <p>汇款明细</p>
            </a>
            <a href="/index/buy/trade" class="line">
                    <i class="ticon3"></i>
                    <p>出售</p>
                </a>
                <a href="javascript:;" class="line">
                        <i class="ticon4"></i>
                        <p>收款明细</p>
                    </a>
                    <a href="javascript:;">
                            <i class="ticon5"></i>
                            <p>锁仓计划</p>
                        </a>
                        <a href="javascript:;" class="line">
                                <i class="ticon6"></i>
                                <p>固定明细</p>
                            </a>
                            <a href="javascript:;" class="line">
                                    <i class="ticon7"></i>
                                    <p>分享明细</p>
                                </a>
                                <a href="javascript:;" class="line">
                                        <i class="ticon8"></i>
                                        <p>最新成交</p>
                                    </a>
    </div>
    <div class="new">
        <h2>
            <i class="hicon1"></i>
            <span>最新公告</span>
        </h2>
        <div class="list-new">
            <a href="javascript:;">
                <p>
                    LTC平台即将上线，请广大币友及时关注
                </p>
                <p>
                    2018-05-06
                </p>
            </a>
            <a href="javascript:;">
                    <p>
                        LTC平台即将上线，请广大币友及时关注
                    </p>
                    <p>
                        2018-05-06
                    </p>
                </a>
                <a href="javascript:;">
                        <p>
                            LTC平台即将上线，请广大币友及时关注
                        </p>
                        <p>
                            2018-05-06
                        </p>
                    </a>
        </div>
    </div>
    <div class="member">
            <h2>
                <i class="hicon2"></i>
                <span>新会员注册排名</span>
            </h2>
            <div class="list-new">
                <a href="javascript:;">
                    <p class="pcolor1">
                        1
                    </p>
                    <p>
                        LTC平台即将上线，请广大币友及时关注
                    </p>
                </a>
                <a href="javascript:;">
                        <p class="pcolor2">
                            2
                        </p>
                        <p>
                                LTC平台即将上线，请广大币友及时关注
                        </p>
                    </a>
                    <a href="javascript:;">
                            <p class="pcolor3">
                                3
                            </p>
                            <p>
                                    LTC平台即将上线，请广大币友及时关注
                            </p>
                        </a>
            </div>
        </div>
        <footer>
                <div>
                        <a href="javascript:;">
                                <i class="ficon1"></i>
                                <p>首页</p>
                            </a>
                            <a href="javascript:;">
                                    <i class="ficon2"></i>
                                    <p>锁仓</p>
                                </a>
                                <a href="javascript:;">
                                        <i class="ficon3"></i>
                                        <p>锁仓</p>
                                    </a>
                                    <a href="javascript:;">
                                            <i class="ficon4"></i>
                                            <p>我的</p>
                                        </a>
                </div>
            </footer>
</body>
</html>