
    <!--header--引入-->
    {include file="default/header" /}
    <!--header--END-->
    <link rel="stylesheet" href="/static/index/style/returnlist.css">
    <link rel="stylesheet" href="/static/index/style/aboutltc.css">
    <header class="public">
        <a href="javascript:history.back(-1);">
            <img src="/static/index/images/arrow.gif" alt="">
        </a>
        <h1>LTC注册协议</h1>
    </header>

    <div class="content">
        <div class="content-list">
            <h2>
                {$About.title}
            </h2>
            <div>
                {$About.content}
            </div>
        </div>
    </div>
    <div class="bottom-content">

    </div>

    <!-- 底部开始 -->
    <!--footer--引入-->
    {include file="default/footer" /}
    <!--footer--END-->