<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>交易列表</title>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <link rel="stylesheet" href="/static/index/css/cssreset.css">
    <link rel="stylesheet" href="/static/index/css/tradelist.css">
</head>
<body>
    <header>
        <a href="javascript:;">
            <img src="/static/index/images/arrow.gif" alt="">
        </a>
        <h1>交易列表</h1>
    </header>
    <div class="list-title">
        <a href="trade.html">
            出售
        </a>
        <a href="javascript:;">
            购买
        </a>
        <a href="javascript:;">
            交易列表
        </a>
        <a href="javascript:;">
                收款明细
            </a>
            <a href="remit.html">
                    汇款明细
                </a>
    </div>
    <!-- 锁仓列表开始 -->
    <div class="list-content">
        <ul class="top-title">
            <li>交易量</li>
            <li>发布时间</li>
            <li>预计总价</li>
            <li>状态</li>
            <li>操作</li>
        </ul>
        <ul class="list-item">
                <li>
                    <p>LTC18001324234234</p>
                </li>
                <li>2018-05-06</li>
                <li>65</li>
                <li>舒服点</li>
                <li>
                    <a href="javascript:;">
                        撮合
                    </a>
                </li>
        </ul>
        <ul class="list-item">
                <li>
                    <p>LTC18001324234234</p>
                </li>
                <li>2018-05-06</li>
                <li>65</li>
                <li>舒服点</li>
                <li>
                        <a href="javascript:;">
                                撮合
                            </a>
                </li>
        </ul>
        <ul class="list-item">
                <li>
                    <p>LTC18001324234234</p>
                </li>
                <li>2018-05-06</li>
                <li>65</li>
                <li>舒服点</li>
                <li>
                        <a href="javascript:;">
                                撮合
                            </a>
                </li>
        </ul>
    </div>
    <!-- 锁仓列表结束 -->
    <!-- 底部开始 -->
    <footer>
            <div>
                    <a href="javascript:;">
                            <i class="ficon1"></i>
                            <p>首页</p>
                        </a>
                        <a href="javascript:;">
                                <i class="ficon2"></i>
                                <p>锁仓</p>
                            </a>
                            <a href="javascript:;">
                                    <i class="ficon3"></i>
                                    <p>分享</p>
                                </a>
                                <a href="javascript:;">
                                        <i class="ficon4"></i>
                                        <p>我的</p>
                                    </a>
            </div>
        </footer>
        <!-- 底部结束 -->
</body>
</html>