    <!--header--引入-->
    {include file="default/header" /}
    <!--header--END-->
    <link rel="stylesheet" href="/static/index/style/lockdeal.css">

    <header class="public">
        <a href="javascript:history.back(-1);">
            <img src="/static/index/images/arrow.gif" alt="">
        </a>
        <h1>最新成交</h1>
    </header>
    <div class="list-title">
        <a href="/index/lock/lock">
            锁仓计划
        </a>
        <a href="/index/lock/lockList">
            锁仓明细
        </a>
        <a href="javascript:;">
            最新成交
        </a>
    </div>

    <!-- 锁仓列表开始 -->
    <div class="list-content">
        <div>
            <div class="pay-time">
                <p>
                    交易时间 ：2018-06-07
                </p>
            </div>
            <div class="pay-bottom">
                <div>
                    <p>买方</p>
                    <p>
                        LTC234324
                    </p>
                </div>
                <div>
                    <p>成交价</p>
                    <p class="price">
                        $23.6
                    </p>
                </div>
                <div>
                    <p>成交量</p>
                    <p>
                        45
                    </p>
                </div>
                <div>
                    <p>卖方</p>
                    <p>
                        LTC234324
                    </p>
                </div>

            </div>
        </div>
        <div>
            <div class="pay-time">
                <p>
                    交易时间 ：2018-06-07
                </p>
            </div>
            <div class="pay-bottom">
                <div>
                    <p>买方</p>
                    <p>
                        LTC234324
                    </p>
                </div>
                <div>
                    <p>成交价</p>
                    <p class="price">
                        $23.6
                    </p>
                </div>
                <div>
                    <p>成交量</p>
                    <p>
                        45
                    </p>
                </div>
                <div>
                    <p>卖方</p>
                    <p>
                        LTC234324
                    </p>
                </div>

            </div>
        </div>
        <div>
            <div class="pay-time">
                <p>
                    交易时间 ：2018-06-07
                </p>
            </div>
            <div class="pay-bottom">
                <div>
                    <p>买方</p>
                    <p>
                        LTC234324
                    </p>
                </div>
                <div>
                    <p>成交价</p>
                    <p class="price">
                        $23.6
                    </p>
                </div>
                <div>
                    <p>成交量</p>
                    <p>
                        45
                    </p>
                </div>
                <div>
                    <p>卖方</p>
                    <p>
                        LTC234324
                    </p>
                </div>

            </div>
        </div>
    </div>
    <!-- 锁仓列表结束 -->


    <!-- 底部开始 -->
    <!--footer--引入-->
    {include file="default/footer" /}
    <!--footer--END-->