    <!--header--引入-->
    {include file="default/header" /}
    <!--header--END-->
    <link rel="stylesheet" href="/static/index/style/lockdeal.css">

    <header class="public">
        <a href="javascript:history.back(-1);">
            <img src="/static/index/images/arrow.gif" alt="">
        </a>
        <h1>最新成交</h1>
    </header>
    <div class="list-title">
        <a href="/index/lock/lock">
            锁仓计划
        </a>
        <a href="/index/lock/lockList">
            锁仓明细
        </a>
        <a href="/index/trade/newestDeal">
            最新成交
        </a>
    </div>

    <!-- 锁仓列表开始 -->
    <div class="list-content">
        {foreach name="List" item="l"}
            <div>
                <div class="pay-time">
                    <p>
                        交易时间 ：{$l.trade_time|date="Y-m-d H:i:s",###}
                    </p>
                </div>
                <div class="pay-bottom">
                    <div>
                        <p>买方</p>
                        <p>
                            {$l.buy_number}
                        </p>
                    </div>
                    <div>
                        <p>成交价</p>
                        <p class="price">
                            {$l.count_price}
                        </p>
                    </div>
                    <div>
                        <p>成交量</p>
                        <p>
                            {$l.number}
                        </p>
                    </div>
                    <div>
                        <p>卖方</p>
                        <p>
                            {$l.sell_number}
                        </p>
                    </div>

                </div>
            </div>
        {/foreach}

    </div>
    <!-- 锁仓列表结束 -->


    <!-- 底部开始 -->
    <!--footer--引入-->
    {include file="default/footer" /}
    <!--footer--END-->