

    <!--header--引入-->
    {include file="default/header" /}
    <!--header--END-->

    <link rel="stylesheet" href="/static/index/style/returnlist.css">
    <link rel="stylesheet" href="/static/index/style/system.css">

    <header class="public">
        <a href="javascript:history.back(-1);">
            <img src="/static/index/images/arrow.gif" alt="">
        </a>
        <h1>留言记录</h1>
    </header>
    <div class="section-item">
        <div class="content section-list">
            <div class="top-head">
                <div class="item">
                    <img src="{$getOne.portrait}" alt="" style="border-radius:50px;">
                    <p>
                        {$getOne.user_number}
                    </p>
                </div>
                <div class="item-text">
                    {$getOne.create_time}
                </div>
            </div>
            <div class="list-content">
                <div class="content-detail">
                    {$getOne.content}
                </div>
                <div class="image-box">
                    {foreach name="$getOne.img" item="i"}
                        <img src="{$i}" alt="">
                    {/foreach}
                </div>
            </div>
        </div>
        <div class="content">
            <div class="top-head">
                <div class="item">
                    <p>
                        系统反馈
                    </p>
                </div>
                <div class="item-text">
                    {$getOne.update_time}
                </div>
            </div>
            <div class="list-content">
                <div class="content-detail">
                    {$getOne.reply}
                </div>
            </div>
        </div>
    </div>
</body>

</html>