    <!--header--引入-->
    {include file="default/header" /}
    <!--header--END-->
    <link rel="stylesheet" href="/static/index/style/selldetail.css">

    <header class="public">
        <a href="javascript:history.back(-1);">
            <img src="/static/index/images/arrow.gif" alt="">
        </a>
        <h1>收款详情</h1>
    </header>

    <!--trade_header--引入-->
    {include file="default/trade_header" /}
    <!--trade_header--END-->

    <div class="list-content">
        <ul class="userinfo">
            <li>
                <p>买家编号</p>
                <p>{$getOne.buy_number}</p>
            </li>
            <li>
                <p>买家姓名</p>
                <p>{$getOne.buy_name}</p>
            </li>
            <li>
                <p>买家电话</p>
                <p>{$getOne.buy_phone}</p>
            </li>
        </ul>

        <ul class="detail">
            <li>
                <p>购买数量</p>
                <p>{$getOne.number}</p>
            </li>
            <li>
                <p>LTC价格</p>
                <p>{$getOne.ltc_price}</p>
            </li>
            <li>
                <p>手续费</p>
                <p>{$getOne.service_price}</p>
            </li>
            <li>
                <p>交易总价</p>
                <p>{$getOne.count_price}</p>
            </li>
            <li>
                <p>交易计时</p>
                <p><label id="RemainH">00</label>:<label id="RemainM">00</label>:<label id="RemainS">00</label></p>
            </li>
            <li>
                <p>汇款状态</p>
                <p>{$getOne.remit_state.0}</p>
            </li>
            <li>
                <p>交易状态</p>
                <p>{$getOne.trade_state.0}</p>
            </li>

        </ul>

        {if condition="$getOne.trade_state.1 == 2"}
            <ul class="detail">
                <li>
                    <p>交易密码</p>
                    <form id="trade_form" action="" >
                        <input type="hidden"  value={$getOne.id} name="id" id="id">
                        <input type="password" placeholder="请输入交易密码" name="pwd_trade" id="pwd_trade">
                    </form>
                </li>
            </ul>
            <div class="sub">
                <button class="btn" type="button" id="trade_submit">确认收款</button>
            </div>
        {/if}

    </div>
    <div class="bottom-content"></div>

    <!--倒计时 -->
    <script language="JavaScript">
        var runtimes = 0;
        function GetRTime(){
            var lTS = "{$getOne.leftTime}";
            var tS = "{$getOne.trade_state.1}";
            var nMS = lTS*1000-runtimes*1000;
            var nH=Math.floor(nMS/(1000*60*60))%24;
            var nM=Math.floor(nMS/(1000*60)) % 60;
            var nS=Math.floor(nMS/1000) % 60;
            if(nMS > 0 && tS != 3 && tS != 4)
            {
                document.getElementById("RemainH").innerHTML=nH;
                document.getElementById("RemainM").innerHTML=nM;
                document.getElementById("RemainS").innerHTML=nS;
                runtimes++;
                setTimeout("GetRTime()",1000);
            }
        }
        window.onload=GetRTime;
    </script>

    <!--确认收款验证-->
    <script>
        $("#trade_submit").on('click',function(){
            var id = $('#id').val();
            var pwd_trade = $('#pwd_trade').val();

            if(isNaN($.trim(id)) || $.trim(id)%1 != 0 || $.trim(id) < 1){
                showAlertAutoClose("交易确认信息有误");
                return false;
            }

            if($.trim(pwd_trade) == '' || $.trim(pwd_trade).length < 6 ) {
                showAlertAutoClose("交易密码不正确，请确认");
                return false;
            }
            console.log(id);
            console.log(pwd_trade);
            $.ajax({
                url:"/index/trade/sellConfirm",
                type:"POST",
                dataType: "json",
                data:$('#trade_form').serialize(),
                success:function(data){
                    jsonAlertAutoClose(data);
                    if(data.code == 1){
                        setTimeout(function () { location.reload(); }, 3000);
                    }
                },
                error:function () {
                    showAlertAutoClose("网络错误，请重试...");
                }
            });

        });
    </script>


    <!-- 底部开始 -->
    <!--footer--引入-->
    {include file="default/footer" /}
    <!--footer--END-->

