    <!--header--引入-->
    {include file="default/header" /}
    <!--header--END-->

    <link rel="stylesheet" href="/static/index/style/tradelist.css">

    <header class="public">
        <a href="javascript:history.back(-1);">
            <img src="/static/index/images/arrow.gif" alt="">
        </a>
        <h1>交易列表</h1>
    </header>

    <!--trade_header--引入-->
    {include file="default/trade_header" /}
    <!--trade_header--END-->

    <!-- 锁仓列表开始 -->
    <div class="list-content">
        <ul class="top-title">
            <li>交易量</li>
            <li>发布时间</li>
            <li>预计总价</li>
            <li>状态</li>
            <li>操作</li>
        </ul>
        {foreach name="List" item="l"}
            <ul class="list-item">
                <li>
                    <p>{$l.number}</p>
                </li>
                <li>{$l.create_time.0}</li>
                <li>{$l.number * $Price.price}</li>
                <li>{$l.trade_state.0}</li>
                <li>
                    <a href="javascript:;" class="trade_cancel">取消</a>
                    <a style="display:none">{$l.id}</a>
                </li>
            </ul>
        {/foreach}

    </div>
    <!-- 锁仓列表结束 -->
    <div class="bottom-content"></div>

    <script>
        //用户购买数据验证
        $(".trade_cancel").on('click',function(){
            var id = $(this).next().text();
            console.log(id);

            $.ajax({
                url:"/index/trade/cancelTrade",
                type:"POST",
                dataType: "json",
                data:'id='+id,
                success:function(data){
                    jsonAlertAutoClose(data);
                    if(data.code == 1){
                        setTimeout(function () { location.reload(); }, 3000);
                    }
                },
                error:function () {
                    showAlertAutoClose("网络错误，请重试...");
                }
            });

        });
    </script>

    <!-- 底部开始 -->
    <!--footer--引入-->
    {include file="default/footer" /}
    <!--footer--END-->