    <!--header--引入-->
    {include file="default/header" /}
    <!--header--END-->
    <link rel="stylesheet" href="/static/index/style/person.css">

    <header>
        <div class="top-header">
            <a href="javascript:history.back(-1);">
                <img class="arrow" src="/static/index/images/arrow.gif" alt="">
            </a>
            <h1>
                <img class="head" src="{$User.portrait}" alt="">
                <!-- 首页 -->
            </h1>
        </div>
        <div class="top-title">
            <div>
                <img class="id-head" src="/static/index/images/id.gif" alt="">
                <span>
                        {$User.number}
                </span>
            </div>
        </div>
        <div class="top-list">
            <div>
                <p><strong>分享编码</strong></p>
                <p>{$User.share_id}</p>
            </div>
            <div>
                <p>手机号码</p>
                <p>{$User.phone}</p>
            </div>
            <div>
                <p>注册日期</p>
                <p>{$User.create_time.0}</p>
            </div>
        </div>
    </header>
    <div class="app-content">
        <div class="list-top">
            <a class="line" href="/index/person/todayProfit">
                <p>{$Profit.total}</p>
                <p>今日收益</p>
            </a>
            <a class="line" href="/index/share/shareProfit">
                <p>{$Profit.share}</p>
                <p>分享收益</p>
            </a>
            <a class="line" href="/index/share/shareFriend">
                <p>{$Profit.friend}</p>
                <p>分享列表</p>
            </a>
        </div>
        <div class="list-top center-line">
            <a href="/index/recharge/extract">
                <p class="icon1">
                    <img src="/static/index/images/icon1.png" alt="">
                </p>
                <p>提币申请</p>
            </a>
            <a href="/index/recharge/extractList" class="line">
                <p class="icon2">
                    <img src="/static/index/images/icon2.png" alt="">
                </p>
                <p>提币明细</p>
            </a>
            <a href="/index/account/personAccount" class="line">
                <p class="icon3">
                    <img src="/static/index/images/icon3.png" alt="">
                </p>
                <p>资料管理</p>
            </a>
            <a href="/index/recharge/recharge">
                <p class="icon4">
                    <img src="/static/index/images/icon4.png" alt="">
                </p>
                <p>充币地址</p>
            </a>
            <a href="/index/recharge/rechargeList" class="line">
                <p class="icon5">
                    <img src="/static/index/images/icon5.png" alt="">
                </p>
                <p>充币明细</p>
            </a>
            <a class="line" href="/index/account/pwdLogin">
                <p class="icon6">
                    <img src="/static/index/images/icon6.png" alt="">
                </p>
                <p>密码管理</p>
            </a>
            <a class="line" href="/index/news/news">
                <p class="icon7">
                    <img src="/static/index/images/icon7.png" alt="">
                </p>
                <p>新闻中心</p>
            </a>
            <a class="line" href="/index/feed/aboutLtc">
                <p class="icon8">
                    <img src="/static/index/images/icon8.png" alt="">
                </p>
                <p>关于LTC</p>
            </a>
            <a class="line" href="/index/feed/feedLog">
                <p class="icon9">
                    <img src="/static/index/images/icon9.png" alt="">
                </p>
                <p>留言反馈</p>
            </a>
        </div>

    </div>
    <div class="exit">
        <a href="javascript:;" id="loginOut">
            安全退出
        </a>
    </div>
    <div class="bottom-content"></div>

    <script>

        // 退出登录
        $("#loginOut").on('click',function(){

            $.ajax({
                url:"/index/person/loginOut",
                type:"POST",
                dataType: "json",
                success:function(data){
                    jsonAlertAutoClose(data);
                },
                error:function () {
                    showAlertAutoClose("网络错误，请重试...");
                }
            });

        });
    </script>


    <!-- 底部开始 -->
    <!--footer--引入-->
    {include file="default/footer" /}
    <!--footer--END-->