    <!--header--引入-->
    {include file="default/header" /}
    <!--header--END-->
    <link rel="stylesheet" href="/static/index/style/person.css">

    <header>
        <div class="top-header">
            <a href="javascript:history.back(-1);">
                <img class="arrow" src="/static/index/images/arrow.gif" alt="">
            </a>
            <h1>
                <img class="head" src="{$User.portrait}" alt="">
                <!-- 首页 -->
            </h1>
        </div>
        <div class="top-title">
            <div>
                <img class="id-head" src="/static/index/images/id.gif" alt="">
                <span>
                        {$User.number}
                </span>
            </div>
        </div>
        <div class="top-list">
            <div>
                <p><strong>分享编码</strong></p>
                <p>{$User.share_id}</p>
            </div>
            <div>
                <p>手机号码</p>
                <p>{$User.phone}</p>
            </div>
            <div>
                <p>注册日期</p>
                <p>{$User.create_time.0}</p>
            </div>
        </div>
    </header>
    <div class="app-content">
        <div class="list-top">
            <a>
                <p>$2500</p>
                <p>今日收益</p>
            </a>
            <a class="line">
                <p>$2500</p>
                <p>分享收益</p>
            </a>
            <a class="line">
                <p>25</p>
                <p>分享列表</p>
            </a>
        </div>
        <div class="list-top center-line">
            <a href="/index/recharge/extract">
                <p class="icon1"></p>
                <p>提币申请</p>
            </a>
            <a href="/index/recharge/extractList" class="line">
                <p class="icon2"></p>
                <p>提币明细</p>
            </a>
            <a href="/index/account/personAccount" class="line">
                <p class="icon3"></p>
                <p>资料管理</p>
            </a>
            <a href="/index/recharge/recharge">
                <p class="icon4"></p>
                <p>充币地址</p>
            </a>
            <a href="/index/recharge/rechargeList" class="line">
                <p class="icon5"></p>
                <p>充币明细</p>
            </a>
            <a class="line" href="/index/account/pwdLogin">
                <p class="icon6"></p>
                <p>密码管理</p>
            </a>
        </div>
        <ul class="list-top">
            <a href="/index/news/news">
                <p class="icon7"></p>
                <p>新闻中心</p>
            </a>
            <a href="/index/feed/aboutLtc" class="line">
                <p class="icon8"></p>
                <p>关于LTC</p>
            </a>
            <a href="/index/feed/feedLog" class="line">
                <p class="icon9"></p>
                <p>留言反馈</p>
            </a>
        </ul>
    </div>
    <div class="exit">
        <a href="javascript:;">
            安全退出
        </a>
    </div>
    <div class="bottom-content"></div>


    <!-- 底部开始 -->
    <!--footer--引入-->
    {include file="default/footer" /}
    <!--footer--END-->