<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>留言记录</title>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <link rel="stylesheet" href="../style/cssreset.css">
    <link rel="stylesheet" href="../style/returnlist.css">
    <link rel="stylesheet" href="../style/public.css">
</head>

<body>
    <header class="public">
        <a href="javascript:;">
            <img src="../image/arrow.gif" alt="">
        </a>
        <h1>留言记录</h1>
    </header>
    <div class="list-title">
        <a href="javascript:;">
            反馈留言
        </a>
        <a href="javascript:;">
            留言记录
        </a>
        <a href="javascript:;">
            关于LTC
        </a>
        <a href="javascript:;">
                留言中心
            </a>
    </div>
    <!-- 锁仓列表开始 -->
    <div class="list-content">
        <ul class="top-title">
            <li>留言问题</li>
            <li>提交时间</li>
            <li>操作</li>
        </ul>
        <ul class="list-item">
            <li>
                我与一个用户进行交易中
            </li>
            <li>2018-09-08</li>
            <li>
                <a href="javascript:;">
                        查看
                    </a>
            </li>
        </ul>
        <ul class="list-item">
            <li>
                我与一个用户进行交易中
            </li>
            <li>
                2016-08-09
            </li>
            <li>
                <a href="javascript:;">
                        查看
                    </a>
            </li>
        </ul>
        <ul class="list-item">
            <li>
                我与一个用户进行交易中
            </li>
            <li>2018-09-07</li>
            <li>
                <a href="javascript:;">
                        查看
                    </a>
            </li>
        </ul>
    </div>
    <!-- 锁仓列表结束 -->
    <div class="bottom-content">

    </div>
    <!-- 底部开始 -->
    <footer>
        <div>
            <a href="javascript:;">
                <i class="ficon1"></i>
                <p>首页</p>
            </a>
            <a href="javascript:;">
                <i class="ficon2"></i>
                <p>锁仓</p>
            </a>
            <a href="javascript:;">
                <i class="ficon3"></i>
                <p>分享</p>
            </a>
            <a href="javascript:;">
                <i class="ficon4"></i>
                <p>我的</p>
            </a>
        </div>
    </footer>
    <!-- 底部结束 -->
</body>
<script>
    window.addEventListener('touchmove', function(evt) {
        evt.preventDefault();
    });
</script>

</html>