
<!--header--引入-->
{include file="default/header" /}
<!--header--END-->

    <link rel="stylesheet" href="/static/index/style/today.css">
    <div class="back-content">
        <header class="public">
            <a href="javascript:history.back(-1);">
                <img src="/static/index/images/arrow.gif" alt="">
            </a>
            <h1>今日收益</h1>
        </header>
        <div class="top-content">
            <div class="number">
                {$Profit.total}
            </div>
            <p>
                今日总收益
            </p>
        </div>
    </div>
    <div class="item-content">
        <div class="item">
            <p>
                今日锁仓收益
            </p>
            <p>
                +{$Profit.lock}
            </p>
        </div>
        <div class="item">
            <p>
                今日分享收益
            </p>
            <p>
                +{$Profit.share}
            </p>
        </div>
        <div class="item">
            <p>
                今日签到收益
            </p>
            <p>
                +{$Profit.sign}
            </p>
        </div>
    </div>

    <!-- 底部开始 -->
    <!--footer--引入-->
    {include file="default/footer" /}
    <!--footer--END-->