<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>今日收益</title>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <link rel="stylesheet" href="./style/cssreset.css">
    <link rel="stylesheet" href="./style/today.css">
    <link rel="stylesheet" href="./style/public.css">
</head>

<body>
    <div class="back-content">
        <header class="public">
            <a href="javascript:;">
                <img src="./image/arrow.gif" alt="">
            </a>
            <h1>今日收益</h1>
        </header>
        <div class="top-content">
            <div class="number">
                188.88
            </div>
            <p>
                今日总收益
            </p>
        </div>
    </div>
    <div class="item-content">
        <div class="item">
            <p>
                今日锁仓收益
            </p>
            <p>
                +108.32
            </p>
        </div>
        <div class="item">
            <p>
                今日锁仓收益
            </p>
            <p>
                +108.32
            </p>
        </div>
        <div class="item">
            <p>
                今日锁仓收益
            </p>
            <p>
                +108.32
            </p>
        </div>
    </div>
</body>

</html>