
    <!--Alert-Start-->
    <div class="bomb">
        <p></p>
    </div>
    <!--Alert-End-->

    <!-- 底部开始 -->
    <footer>
        <div>
            <a href="/">
                <i class="ficon1"></i>
                <p>首页</p>
            </a>
            <a href="/index/lock/lock">
                <i class="ficon2"></i>
                <p>锁仓</p>
            </a>
            <a href="/index/share/share">
                <i class="ficon3"></i>
                <p>分享</p>
            </a>
            <a href="/index/person/person">
                <i class="ficon4"></i>
                <p>我的</p>
            </a>
        </div>
    </footer>



</body>
</html>