

<!-- 底部开始 -->
<footer>
    <div>
        <a href="/">
            <i class="ficon1"></i>
            <p>首页</p>
        </a>
        <a href="javascript:;">
            <i class="/index/lock/lock"></i>
            <p>锁仓</p>
        </a>
        <a href="/index/share/shareFriend">
            <i class="ficon3"></i>
            <p>分享</p>
        </a>
        <a href="/index/person/person">
            <i class="ficon4"></i>
            <p>我的</p>
        </a>
    </div>
</footer>
<!-- 底部结束 -->
</body>
</html>