<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <link rel="stylesheet" href="/static/index/style/cssreset.css">
    <link rel="stylesheet" href="/static/index/style/public.css">

    <script src="/static/index/js/jquery-3.1.1.js"></script>

    <script type="text/javascript" src="/static/index/js/alertInfo.js"></script>
</head>

<body>